.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Generate your editor SDK yourself
# https://yarnpkg.com/getting-started/editor-sdks
#!.yarn/sdks

# We're not using Zero-Installs
# https://yarnpkg.com/features/zero-installs
#!.yarn/cache
.pnp.*

.parcel-cache
dist